/*!--------------------------------------------------------------
## Links
---------------------------------------------------------------*/
@import '_links'

/*! --------------------------------------------------------------
## Menus
----------------------------------------------------------------*/

@import '_menus'

body 
	background-color #ECECEC



   
#black_logo
	a
		left 10%
		top 35px
		color #000
		font-size 22px
		a
			color black
		
#white_logo
	margin 0
		
	a
		left 10%
		top 35px
		color #000
		font-size 22px
		
		
	a
		color white	
		

@media (max-width 814px)
	
	.logoAndNav
		.site-branding
			#white_logo
				a
					color black				

@media (max-width 814px)
	#black_menu
		&:after
			content ' ' !important
			width 0
			height 0
			
		&:before
			content ' ' !important
			width 0
			height 0
			


#black_menu
	&:after
		content url('assets/images/plusBlack.svg')
		position absolute
		width 15px
		right 5%
		top 40%
		// top 2px
			
	&:before
		content url('assets/images/plusBlack.svg')
		position absolute
		width 15px
		left 5%
		top 40%	
		

		
		
	#menu-menu-1
		top 35px
		margin-right 0
		right 0
		width 80%
		padding-right 10%
		position fixed
		padding-left 0
		float right
		width 100%
		text-align right
		z-index 20 !important
		
		li
			display inline
			a
				display inline
		
		
		
		li a
			color black
			z-index 99999999 !important
			font-family plantinRegular
			margin-right 9px
			font-size 18px
			z-index 999999
			padding-right 0
			padding-top 5px
			padding-bottom 5px
			border-bottom 1px solid transparent
			border-top 1px solid transparent
			transition .25s all ease-in-out
	 
	
			&:hover
				border-top 1px solid black
				padding-top 8px 			
#white_menu
	&:after
		content url('assets/images/plusWhite.svg')
		position absolute
		width 15px
		right 5%
		top 40%
		// top 2px
			
	&:before
		content url('assets/images/plusWhite.svg')
		position absolute
		width 15px
		left 5%
		top 40%		
	#menu-menu-1
		top 35px
		margin-right 0
		right 0
		width 80%
		padding-right 10%
		position fixed
		padding-left 0
		float right
		width 100%
		text-align right
		z-index 20 !important
		
		li
			display inline
			a
				display inline
		
		
		
		li a
			color white
			z-index 99999999 !important
			font-family plantinRegular
			margin-right 9px
			font-size 18px
			z-index 999999
			padding-right 0
			padding-top 5px
			padding-bottom 5px
			border-bottom 1px solid transparent
			border-top 1px solid transparent
			transition .25s all ease-in-out
	 
	
			&:hover
				border-top 1px solid white
				padding-top 8px 				

@media (max-width: 814px)
	#black_menu, #white_menu
		#menu-menu-1
			li
				display block
				
				a
						border-top 1px solid transparent


.site-title 
	width 40% !important
	
	
	a
		text-decoration:none;
		color:#000;
		font-size 32pt
		

@media (max-width: 814px)

	#black_menu, #white_menu
		#menu-menu-1
	
			width 100%
			right 0
			line-height 2
			li a
				font-size 22px
				width 500px
				&:hover
					border-top 1px solid transparent
	#white_menu #menu-menu-1
		right 0
		width 96%
		margin-right 2%
		margin-left 2%
		li
			&:after
				font-size 20px
				content url('assets/images/plusBlack.svg')
				position absolute
				width 20px
				margin-top -10px
				
			a
				
				color black
			
	
			
	
	
@media (max-width 814px)

	header#masthead	
			.site-branding
				h1.site-title
					a
						position fixed
						z-index 9999999999999
						
		#menu-menu-1
			position absolute
			top 10%
			width 96%
			margin-left 2%
			margin-right 2%
			padding 0				

		.mobileImage
			display block	
			margin-left 2%
			margin-right 2%
			width 96%
			

		.Wallop-item
			visibility visible !important
			position relative !important
			
		.Wallop-BG
			background red	
		

		.Wallop-buttonNext, .Wallop-buttonPrevious
			display none	

		#menu-menu-1 
			margin-left 0
			padding-left 2%
		
		.mobilenav ul li
			&:nth-child(1)
				
				&:after
					content url(assets/images/crosshair.png)
					font-size 60px
					font-family plantinLight
					font-weight 100
					right 1%
					transform: translateY(-5px)
					position absolute
					line-height:70px
					
					
			&:nth-child(2)
				&:after
					content url(assets/images/crosshair.png)
					font-size 60px
					font-family plantinLight
					font-weight 100
					right 1%
					transform: translateY(-5px)
					position absolute
					line-height:70px
					
			&:nth-child(3)
				&:after
					content url(assets/images/crosshair.png)
					font-size 60px
					font-family plantinLight
					font-weight 100
					right 1%
					transform: translateY(-5px)
					position absolute
					line-height:70px
					
					
			&:nth-child(4)
				&:after
					content url(assets/images/crosshair.png)
					font-size 60px
					font-family plantinLight
					font-weight 100
					right 1%
					transform: translateY(-5px)
					position absolute
					line-height:70px						

		.mobilenav ul li 
			min-width 300px
			text-align left
			border-bottom 1px solid #D3CFD8
			
			a
				font-size:32pt; 
				font-family plantinRegular
				font-weight 300
			
@media (max-width 814px)
	.page-id-2
		header
			height 80px	
	.logoAndNav
		background white
		height 90px	
		z-index 9999999		
		


@media (min-width 814px)

	

	.page-id-16
		// top 0
		// z-index 1
		// width 100%
		// height 0
		

		a
			color #fff	

			
	h1.site-title
		position fixed	
		width 100%
		z-index 999999
			

	.page-id-2 header#masthead, .page-id-19 header#masthead, .page-id-21, .page-id-23, .single
		top 0
		z-index 9999999999999
		height 0
				
		
		
		h1.site-title a
			position fixed
			z-index 999999999999
			

		nav 
				ul#menu-menu-1
					z-index 999999
					text-align right !important
					
	.page-id-16 header#masthead		
		h1.site-title a
			position fixed
			z-index 999999999999
			

		nav 
				ul#menu-menu-1
					z-index 999999
					text-align right !important		




// outline

 a:hover, a:active, a:focus, a:link, a:visited {
   outline: 0;
   outline: 0 !important;
   outline-style:none;
 }
 button, object, embed { 
   outline: 0;
 }

 /* All Input elements */
 input::-moz-focus-inner { 
  outline: 0; 
 }

 /* Or more specifically*/
 input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner{
   outline: 0;
 } 
 