

.page-id-19
	
	.section_1_right
		padding-bottom 0 !important
	header
		height 600px
		background-size cover
		background-repeat no-repeat
		background-position center
		position relative

		
		h2
			top 40%
			width 70%
			margin-left 15%
			text-align center
			font-family plantinBold
			color #fff
			position absolute
			
	.boilerplate
		border-bottom 1px solid #D3CFD8
		width 80%
		margin-left 10%
		margin-right 10%
		

		.boilerplate_p
			width 95%
			margin-right 5%	
			color #737373
			font-family plantinRegular
			font-size 18px
			padding-top 50px
			padding-bottom 50px
			
	.ourTeam
		width 80%
		margin-left 10%
		margin-right 10%
		padding-top 50px
		padding-bottom 50px
		overflow hidden
		h2
				width 55%
				float right
				font-family plantinRegular
				font-weight 300
				font-size 28px
			
			
				
			
		

	.staffSection
		width 80%
		margin-left 10%
		margin-right 10%
		border-bottom 1px solid #D3CFD8
		overflow hidden
		position relative
		padding-bottom 20px 
		padding-top 20px 
		
		.staffLeft
			float left
			clear both
			background-repeat no-repeat
			background-size contain
			width 50%
			
			.staffImage
				max-width 100%
				height auto

			
		
		.staffRight
			width 50%
			overflow hidden
			padding-top 3.5%
			padding-left 5%
			
			.nameTitle
				margin-bottom 25px
			
			
			.nameTitle p
				font-family whitneyMedium
				color #737373
				
				span
					color black
					
			
			.staffParagraph
				p
					padding-bottom 25px
					margin-bottom 0
					color #737373
					font-family whitneyRegular
					font-size 18px
					
			

			.contactInformation
				
				overflow hidden
				width 80%
				
				
				p
					margin-bottom 0
					font-family whitneyMedium
					span
						font-weight 700
						font-family whitneyMedium
					

@media (max-width 1140px)
	.page-id-19
		.staffSection
			.staffLeft
				width 35%
			.staffRight
				padding-top 0
				
@media (max-width 860px)
	.page-id-19
		
		.ourTeam
			text-align center
			width 100%
			margin-left 0
			margin-right 0
			
			h2
				width 100%
				text-align center
				margin-left 0
				margin-right 0
				
		section.staffSection
			.staffLeft
				margin 0 auto
				width 100%
				
				.staffImage
					width 100%
				img 
					display block
					margin 0 auto	
					
			.staffRight
				width 100%
				padding-left 0
				
				.nameTitle
					width 100%
					padding-top 25px
					p
						width 100%
						text-align center
								
					
					
					
				
										
		

// @media (min-width 1250px)
// 	.page-id-19
// 		.staffSection
// 			.staffRight
// 				padding-top 100px;
// 				padding-bottom 100px;

@media (max-width 920px)

	.page-id-19
		section.staffSection
			overflow hidden
					
						
	

			
@media (max-width 650px)
	.page-id-19
		section.staffSection

			.staffRight
				width 100%	
				padding-top 5px
				.nameTitle
					margin-bottom 25px
				
		.ourTeam
			h2
				width 100%
				text-align center
				
@media (max-width 610px)
	.page-id-19
		section.staffSection
					
			.staffRight
				.nameTitle
					margin-bottom 25px
					p
						margin-bottom 0		
					

				
					


@media (max-width 450px)
	.page-id-19
		section.staffSection
			.staffRight
				padding-top 0		


@media (max-width 450px)
	.page-id-19
		section.staffSection
					
				// .staffImage
				// 	height 200px
				// 	width 100%
				// 	margin 0 auto	
				// 	float none
			
			.staffRight
				padding-top 0
				

				
// @media (max-width 350px)
// 	.page-id-19
// 			section.staffSection


				
						
		


			
		


			
	