.social1
	a
		height 30px
		width 30px
		background-image url('assets/images/behance.png')
		display inline-block
		background-size contain
		margin-left 10px
.social2
	a
		height 30px
		width 30px
		background-image url('assets/images/twitter.png')
		display inline-block
		background-size contain
		margin-left 10px
.social3
	a
		height 30px
		width 30px
		background-image url('assets/images/instagram.png')	
		display inline-block
		background-size contain	
		margin-left 10px

footer 
	position relative

.page-id-2
	footer.site-footer
		position relative
		margin-top 0 !important
				
@media (max-width 814px)
	footer.site-footer
		position relative !important
						
		

.page-id-2, .page-id-19
	footer
		margin-top 0
		border-top 1px solid transparent
		
		.footerWrapper
			border-top 1px solid transparent
			
.page-id-19
	footer
		padding-top 25px		

.page-id-16
	footer
		margin-top 10% !important

footer
	margin-top 25px
	background-color #ECECEC
	height 8vh
	width 100%
	&:after
		content url('assets/images/plusBlack.svg') !important
		
		height 15px
		width 15px
		right 5%
		position absolute	
		z-index 99999999
		top 35%
		
	&:before
		content url('assets/images/plusBlack.svg') !important
		
		height 15px
		width 15px
		position absolute	
		left 5%
		z-index 99999999
		top 35%
	
	
	.footerWrapper
		position absolute
		top 15%
		width 90%
		padding-left 10%
		
		
		
		
		
		
			
		
		
	.site-info
		p
			font-family plantinBold
			font-size 20px;
			padding-top 15px
			font-weight 300
			margin-bottom 5px
			clear both
			margin 0
			
	.socialIcons
		padding-top 10px
		overflow hidden	
		float right
		position absolute
		bottom 10%
		right 0
		
		i
			font-size 30px
		
		
	p.copyrightText
		font-size 12px
		padding-top 0
		font-family plantinRegular
		font-weight 300	
		display inline	
			
	.social1, .social2, .social3
		margin 5px	
		float left	
		border-radius 20px


.single footer
	position relative
	
	.footerWrapper
		border-top 1px solid transparent !important	
		
@media (max-width 814px)
	.page-id-2
		footer.site-footer
			margin-top 5px
			

@media (max-width 480px)

	footer
		
		.site-info
			position absolute
			left 20%
			width 80%
		.socialIcons
			display block	
			width 100%
			margin-left 0
			margin-right 0
			position relative	
			
			.social1
				margin-left 0
				a
					margin-left 0	
				


@media (max-width 477px)
	footer
		.footerWrapper
			.site-info
				 p
					font-size 15px
					
			

// remove footer border on about page-id-21
		
	
.page-id-21
	footer
		margin-top 0
	.footerWrapper
		border-top 1px solid transparent !important

	