
.page-id-21
	nav#white_menu, nav#black_menu
		text-align right !important
		
	#menu-menu-1		
		text-align right !important
		z-index 99999
		
		li a
			z-index 999999
		
header
	h2
		z-index 1		

*
	margin:0
	padding:0
	text-decoration none
	link-style-type none

.site-title
	font-family plantinBold
	
		
		
	


		  
.page-id-2 .Wallop-buttonPrevious
	background-image url('assets/images/arrowLeft.png')
	width 20%
	height 60%
	background-size contain
	background-size 40%
	background-position left
	background-repeat no-repeat

.page-id-2 .Wallop-buttonNext	
	background-image url('assets/images/arrowRight.png')		
	width 20%
	height 60% 
	background-size contain
	background-size 40%
	background-repeat no-repeat
	background-position right

.mobileImage
	display none
	


@media (min-width 814px)
		

	.homeTextBlockBlack
		text-decoration none
		link-style-type none
		position relative
		overflow hidden
		
		
			
		h2
			margin-left 12.5%
			padding-top 185px
			color black
			text-decoration none
			link-style-type none
			font-family plantinRegular
			font-weight 300
			font-size: 50px
			width 45%
			
			a
				color black
			
			
		h3
			margin-top:10px
			margin-left 12.5%	
			color black
			text-decoration none
			link-style-type none
			font-size 30pt
			font-family whitneyMedium
			font-weight 100
			
			a
				color black
	
				
		
	.homeTextBlock
		text-decoration none
		link-style-type none
		
		
			
		h2
			margin-left 12.5%
			padding-top 185px
			color #fff
			text-decoration none
			link-style-type none
			font-family plantinRegular
			font-weight 300
			font-size: 50px
			width 45%
			
			a
				color white
				&:hover
					white
			
			
		h3
			margin-top:10px
			margin-left 12.5%	
			color #fff
			text-decoration none
			link-style-type none
			font-size 30pt
			font-family whitneyMedium
			font-weight 100
			
			a
				color white
				&:hover
					white
	
	.exampleClass img 
		display:none;
	
	.exampleClass 
		height 92vh
		width 100%
		background-repeat no-repeat
		background-size cover
		background-position center
		

		

// wallop stuff

.page-id-2 
	.Wallop-buttonPrevious
		position absolute
		left 2.5%
		top 15%
		z-index 9999
		background contain
		opacity 0
		transition .35s ease-in-out all
		// cursor url(assets/images/crosshair2.png) 16 16, auto
		cursor pointer
		
	.Wallop-buttonNext
		position absolute
		right 2.5%
		top 15%
		opacity 0
		z-index 9999
		background contain
		transition 0.35s ease-in-out all
		// cursor url(assets/images/crosshair2.png) 16 16, auto
		cursor pointer
				
	.Wallop-buttonNext:hover, .Wallop-buttonPrevious:hover
		opacity 1	
	
			

	
		


// mobile first styling

@media (max-width 814px)
	

	header#masthead
		width 100%
		
		

	.linkWrapper
		text-decoration none
		link-style-type none
		
	#main .exampleClass 
		background-repeat no-repeat
		background-size cover
		background-image none !important
		position relative
		
		
		img
			width 100%
			text-align center
			

		.homeTextBlock 
			position relative
			margin-right 2%
			margin-left 2%
			
		.homeTextBlockBlack
			position relative
			margin-right 2%
			margin-left 2%	

		
			
		
		h2 
			position relative
			margin-top 20px
			padding-bottom 0
			margin-bottom 0
			width 75%
			font-family plantinRegular
			font-weight 300
			color #030303
			font-size 27pt
			text-decoration none
			z-index 5
			
			a
				color black 
		h3
			position relative
			margin-bottom 20px
			padding-top 0
			margin-top 0
			z-index 5
			font-family plantinRegular
			font-weight 500
			color #858585
			font-size 27pt
			text-decoration none
			
			a
				color #949494
				
			

		  
// approach page 

.page-id-19 header#masthead
	height 650px
	background #ECECEC
	position relative
	background-size cover
	background-repeat no-repeat
	
	background-position center
		
	h2.header_copy
		width 70%
		margin-left 15%
		text-align center
		font-family plantinBold
		color #fff
		font-size 30px	
		

			

.page-id-19
	// .site-title a
	// 	margin-top 20px !important
			
	.section_1
		border-bottom 1px solid #D3CFD8
		width 80%
		margin-left 10%
		margin-right 10%
		overflow hidden
		
		
		.section_1_left
			margin-left 0
			width 40%
			float left
			
			h2
				font-size 25px
			
		.section_1_right
			margin-right 0
			width 55%
			padding-top 0
			margin-top 0
			float right
			
			.section_1_p
				margin-left 0
				margin-right 0
				padding-top 35px
				padding-bottom 34px
				color #737373	
				font-size 18px
				font-family plantinRegular
				
				p
					padding-bottom 16px;
				
			

			
	.section_1_left h2
		padding-top 35px
		font-family plantinItalic
		font-weight 400	
		
		

	.section_2
		width 80%
		margin-left 10%
		margin-right 10%
		overflow hidden
		border-bottom 1px solid #D3CFD8
		padding-bottom 10px
		
		.section_2_left
			width 35%
			float left
			
			
			h2
				padding-top 60%
				font-family plantinItalic
				font-weight 400
				width 75%
				font-size 25px
				
		.section_2_right
			width 55%
			float right
			padding-bottom 34px
			
			h2
				padding-top 50px
				font-size 28px
			
			.section_2_paragraphs
				.paragraphBlock
					
					h2
						font-family whitneyMedium
						font-weight 300
						font-size 20px
						padding-top 5%
						
					p
						color #737373	
						font-size 18px
						padding-top 16px
						padding-bottom 16px;
						font-family plantinRegular
					
		
		h2
			font-family plantinRegular
			font-weight 300
			
	.section_3
		width 80%
		margin-left 10%
		margin-right 10%
		
			
		.section_3_right
			width 55%
			overflow hidden
			float right
			margin-left 45%
			padding-bottom 15px
			
		
				
			h2
				float left
				text-align left
				font-family plantinMedium
				font-weight 500
				padding-bottom 45px
				font-size 28px
				padding-top 50px
			
			p
				float left	
				text-align left
				margin-left 0
				line-height 1
				font-size 18px
				margin-right 0
				width 100%
				padding-bottom 0
				margin-bottom 0
				font-family plantinRegular
				
		.approachLists	
			float right
			width 55%	
			
				
			.listBlock
				width 185px
				float left
				text-align left
				
				
				h2
					padding-bottom 20px
					padding-top 25px
					font-size 20px
					font-weight 500
				
				p
					margin-left 0	
					line-height 1.3	
					font-size 18px
					width 100%
					font-family plantinRegular
					font-size 18px
				
// approach mobile

@media (max-width 814px)

	.page-id-19
		.section_1
			.section_1_left
				width 100%
				text-align center
				border-bottom 1px solid #D3CFD8
				padding-bottom 35px
				
			.section_1_right
				width 100%
				
		.section_2
			.section_2_left
				width 100%
				text-align center
				h2
					padding-top 35px
					margin-right 0
					width 100%
					padding-bottom 35px
					border-bottom 1px solid #D3CFD8
					
			.section_2_right
				width 100%
				text-align center
				
				.paragraphBlock
					h2
						padding-bottom 10px
						
		.section_3
			text-align center
			.section_3_right
				width 100%
				text-align center
				h2
					width 100%
					text-align center
					
				p
					text-align center	
			
			.approachLists
				width 100%
				
				.listBlock
					width 50%
					padding-left 10%	
					float right	
					
@media (max-width 405px)

	.page-id-19	
		.section_3	
			.approachLists
				width 100%
				.listBlock
					width 100%
							


				
					

				
					

// connect page 




.page-id-23
	header
		height 650px
		background-size cover
		background-position center
		

	.section_1	
		margin-right 10%
		margin-left 10%
		width 80%
		padding-top 50px
		border-bottom 1px solid #D3CFD8
		
		p
			color #737373
			font-family plantinRegular
			font-size 18px
			padding-bottom 50px
			width 55%
			margin-left 45%
			
	.section_2
		width 80%
		margin-left 10%
		margin-right 10%
		
		#map 
			width 55%
			height 400px
			float right
			margin-bottom 50px
		
		.officeDirections
			padding-bottom 50px
		
		h2
			padding-top 50px
			width 55%
			margin-left 45%
			font-family plantinRegular
			font-weight 300
			padding-bottom 20px
		p
			width 55%
			margin-left 45%	
			font-family whitneyRegular
			color #737373
			font-size 18px
			
	
			
		.new_business
			h2
				margin-bottom 20px
				padding-bottom 0
				
		.careers
			h2
				margin-bottom 20px
				padding-bottom 0
				
			p
				margin-bottom 3px	
			
			margin-bottom 20px	
			a
				color #737373
				&:hover
					color #87848A
			

		
@media (max-width 814px)
	.page-id-23
		.section_1
			.section_1_p
				p
					width 100%
					margin-left 0
		
		.section_2
			
			h2
				margin-left 0
				
			p
				margin-left 0	
			
		iframe
			height 350px	!important
			
@media (max-width 450px)
	
	.page-id-23
		.section_2
			
			h2
				width 100%
				
			p
				width 100%				



// headroom js 

.headroom {
    transition: transform 200ms linear;
    position fixed
    z-index 9999999
    width 100%
    background none
    height 90px
    transition 0.25s all ease-in-out
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.headroom--not-top
	background rgba(0,0,0, 0.5)
	z-index 3
	
.page-id-16
	.headroom--not-top
		background rgba(255,255,255, 0.75)	
			
